<!-- 
  @author Matteo Caruso
  @email matteo.caruso@phd.units.it
  @email matteo.caruso1993@gmail.com
 -->
<launch>
<!-- parameters -->
<rosparam command="load" file="$(find robot4ws_teleop_keyboard)/config/params.yaml"/>
<!-- start node -->
<arg name="env" default="/home/ros/p38Venv/bin/python3.8"/>
<node pkg="robot4ws_teleop_keyboard" type="teleop.py" name="teleop_controller" respawn="false" output="screen" launch-prefix="$(arg env)"> 
  <remap from="/cmd_vel" to="/Archimede/cmd_vel"/>
</node>
</launch>
